:root{
  --background-color:#faf0e6;
  --text-color:black;
  --primary-color:#FF78AC;
  --secondary-color:#A8D5E3;
  --accent-color:yellow;
}
body{
  width:100%;
  padding:0;
  margin:0;
  box-sizing: border-box;
  background-color:var(--background-color);


  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}

h1,h2,h3,h4{
  .lato-thin {
    font-family: "Lato", serif;
    font-weight: 100;
    font-style: normal;
  }
  
  .lato-light {
    font-family: "Lato", serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .lato-regular {
    font-family: "Lato", serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .lato-bold {
    font-family: "Lato", serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .lato-black {
    font-family: "Lato", serif;
    font-weight: 900;
    font-style: normal;
  }
  
  .lato-thin-italic {
    font-family: "Lato", serif;
    font-weight: 100;
    font-style: italic;
  }
  
  .lato-light-italic {
    font-family: "Lato", serif;
    font-weight: 300;
    font-style: italic;
  }
  
  .lato-regular-italic {
    font-family: "Lato", serif;
    font-weight: 400;
    font-style: italic;
  }
  
  .lato-bold-italic {
    font-family: "Lato", serif;
    font-weight: 700;
    font-style: italic;
  }
  
  .lato-black-italic {
    font-family: "Lato", serif;
    font-weight: 900;
    font-style: italic;
  }
  
}



.navbar {
  min-height: 80px;;
  background-color: var(--secondary-color);
  padding: 20px; 
  position: fixed; 
  top: 0; 
  width: 100%; 
  z-index: 1000; 
}

.navbar__items {
  display: flex;
  align-items: center; 
  justify-content: space-between;
}

.navbar__logo img{
  height:auto;
  width:100px;
  margin-left:80px;
}

.navbar__links {
  list-style: none;  
  display: flex; 
  margin-right:80px; 
  padding: 0; 
}

.navbar__link {
  text-decoration: none; 
  color: var(--text-color); 
  font-size: 20px;
  margin-left: 30px; 
}

.navbar__link:hover {
  color: var(--primary-color); 
}

li {
  list-style: none;
}

  
    .footer {
    background-color: var(--secondary-color);
}

.footer_container {
    width: 100%;
    padding: 70px 30px 20px;
}

.footer_icons {
    display: flex;
    justify-content: center;
}

.footer_icons a {
    text-decoration: none;
    padding: 10px;
    background-color: white;
    margin: 10px;
    border-radius: 50%; 
    display: flex; 
    align-items: center;
    justify-content: center; 
}

.footer_icons img {
    width: 24px; 
       height: 24px;
       
}
.footer_icons a:hover {
  transform: scale(1.1); 
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2); 
  background-color: var(--background-color) ;
  transition: 0.5s; 
}
.footer_bottom{
 text-align: center;
 padding-bottom:0;
 

}

    


  
  
    
  
  
  