:root{
  --background-color:#faf0e6;
  --text-color:black;
  --primary-color:#FF78AC;
  --secondary-color:#A8D5E3;
  --accent-color:yellow;
}
body{
  padding:0;
  margin:0;
  box-sizing: border-box;
  background-color:var(--background-color);


  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}

h1,h2,h3,h4{
  .lato-thin {
    font-family: "Lato", serif;
    font-weight: 100;
    font-style: normal;
  }
  
  .lato-light {
    font-family: "Lato", serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .lato-regular {
    font-family: "Lato", serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .lato-bold {
    font-family: "Lato", serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .lato-black {
    font-family: "Lato", serif;
    font-weight: 900;
    font-style: normal;
  }
  
  .lato-thin-italic {
    font-family: "Lato", serif;
    font-weight: 100;
    font-style: italic;
  }
  
  .lato-light-italic {
    font-family: "Lato", serif;
    font-weight: 300;
    font-style: italic;
  }
  
  .lato-regular-italic {
    font-family: "Lato", serif;
    font-weight: 400;
    font-style: italic;
  }
  
  .lato-bold-italic {
    font-family: "Lato", serif;
    font-weight: 700;
    font-style: italic;
  }
  
  .lato-black-italic {
    font-family: "Lato", serif;
    font-weight: 900;
    font-style: italic;
  }
  
}



.navbar {
    background-color:var(--secondary-color);
    padding: 10px 20px; 
    }
  
    .navbar__items {
      list-style: none;  
      display:flex;
      align-items: center; 
      justify-content: space-between;
      padding:40px;
  }
  .navbar__logo{
    width: 50px;
    height: 50px; 
  }
  
  .navbar__link {
    text-decoration: none; 
    color:var(--text-color); 
    font-size: 20px;
   
    margin-right:90px; 
    }
  
  .navbar__link:hover {
    color:var(--primary-color); 
  }
  li{
    list-style: none;
    display:inline-block;
  }
  .footer{
    background-color:var(--secondary-color);
  }
  .footer_container{
    width:100%;
    padding:70px 30px 20px;
  }

  .footer__icons{
        display: flex;
        justify-content: center;

  }
  .footer__icons a{
    text-decoration: none;
    padding : 10px;
    background-color: white;
    margin:10px;
    border-radius:50%;
  }

    


  
  
    
  
  
  